.karte {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.karte .bildKarte {
  height: 100vh;
}
.karteItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 2rem;
}
.karteItem .strich1 {
  margin: 2rem 0;
}
.karteItem h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
}
.karteItem p {
  margin: 5rem 0;
}
