.digitalZukunft {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.digitalZukunft article {
  width: 35%;
}

.digitalZukunft div {
  width: 50%;
  display: inline-block;
}

.trainerbild {
  width: 72%;
  height: auto;
}

.brushes {
  width: 70%;
  margin-top: -34%;
  margin-left: 11%;
}

.gruppenbild {
  margin-top: -54%;
  margin-left: 28%;
  width: 49%;
  height: 62vh;
  object-fit: cover;
  isolation: isolate;
}

.digitalZukunft article {
  align-self: flex-start;
  padding-top: 3%;
  margin-left: 2%;
}

.digitalZukunft article span {
  font-weight: lighter;
}

.digitalZukunft article h2 {
  line-height: 2.7rem;
  font-size: 2rem;
  font-family: "Ubuntu Mono", monospace;
  margin-bottom: 10%;
}

.digitalZukunft article p {
  width: 85%;
  line-height: 1.5rem;
  font-size: 1.1rem;
  /* font-family: 'Ubuntu Mono', monospace; */
}

/********** Animation **********/

.l-section-top {
  width: 100%;
  height: 100%;
  margin-top: 8%;
  position: relative;
}

.c-title {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
}

.c-title:hover {
  text-decoration: underline;
}

.c-title p {
  text-align: center;
  margin-top: 9%;
  font-weight: bold;
}

.c-scrolldown {
  width: 2px;
  height: 200px;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  margin: 0 auto 5%;
  overflow: hidden;
}

.c-scrolldown .c-line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, #000 50%, rgba(255, 255, 255, 0) 50%);
  background-position: 0 -60px;
  background-size: 100% 200%;
  animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

@keyframes scrolldown {
  0% {
    background-position: 0 -200px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 200px;
  }
}

/********** Media Queries **********/

@media only screen and (max-width: 600px) {
  .digitalZukunft {
    flex-direction: column;
    padding: 0;
    overflow: hidden;
  }
  .trainerbild {
    width: 85%;
  }
  .brushes {
    width: 100%;
    margin-top: -34%;
    margin-left: 11%;
  }
  .gruppenbild {
    margin-top: -80%;
    margin-left: 31%;
    height: 44vh;
    width: 73%;
    padding-bottom: 15%;
  }
  .digitalZukunft div {
    width: 100%;
  }
  .digitalZukunft article {
    width: 90%;
    padding: 20% 10% 15% 10%;
    margin: 0 auto;
  }
  .l-section-top {
    margin-top: 47%;
  }
}

@media only screen and (min-width: 768px) {
  .digitalZukunft {
    padding: 0;
    overflow: hidden;
  }
  .trainerbild {
    width: 100%;
  }
  .brushes {
    width: 100%;
    margin-top: -34%;
    margin-left: 11%;
  }
  .gruppenbild {
    margin-top: -80%;
    margin-left: 35%;
    height: 32vh;
    width: 73%;
    padding-bottom: 15%;
  }
  .digitalZukunft div {
    width: 44%;
    margin-right: auto;
  }
  .digitalZukunft article {
    width: 45%;
    margin-left: auto;
  }
  .digitalZukunft article h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .digitalZukunft {
    padding: 3%;
  }
  .digitalZukunft article {
    width: 35%;
    margin-right: auto;
  }
  .digitalZukunft div {
    width: 50%;
    margin-left: 5%;
  }
  .trainerbild {
    width: 72%;
  }
  .brushes {
    width: 70%;
  }
  .gruppenbild {
    margin-top: -54%;
    margin-left: 28%;
    width: 49%;
    height: 62vh;
  }
  .digitalZukunft article h2 {
    line-height: 2.7rem;
    font-size: 2rem;
  }
  .l-section-top {
    margin-top: 4%;
  }
}
