.ueberUns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}

.ueberuns-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.ueberuns-container article {
  width: 40%;
}

.ueberuns-container article div:nth-of-type(2) {
  line-height: 1.8rem;
  margin-top: 5%;
  margin-left: 5%;
  width: 60%;
  position: relative;
}

.ueberuns-container article div:nth-of-type(2) h4 {
  font-size: 1.7rem;
  margin-bottom: 5%;
  display: inline-block;
  isolation: isolate;
  position: relative;
  z-index: 999;
}

.ueberuns-container article div:nth-of-type(2) p {
  font-size: 0.9rem;
}

.vorstand-beschreibung {
  font-weight: bold;
}

.img-bg img {
  width: 48%;
  padding: 5%;
}

.brush-img {
  margin-bottom: -2.5%;
  margin-left: -42%;
  width: 45%;
  position: absolute;
  top: 15%;
}

.ueberUns h2 {
  font-size: 3rem;
  margin-bottom: 10%;
}

.ueberUns h3 {
  font-size: 2.5rem;
  margin-bottom: 0%;
}

.ueberuns-text {
  align-self: center;
  width: 42%;
  margin-left: -4%;
}

.ueberuns-text p {
  line-height: 2rem;
}

#arrow:hover {
  fill: gold;
}

.partner-container {
  display: none;
}

/********** Media Queries **********/

@media only screen and (max-width: 600px) {
  .ueberUns h3 {
    font-size: 2.5rem;
    margin-bottom: 10%;
    text-align: center;
  }
  .vorstand-beschreibung {
    display: none;
  }
  .ueberuns-container {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
  }
  .ueberuns-container article {
    width: 100%;
  }
  .ueberuns-container article div:nth-of-type(2) h4 {
    font-size: 1.7rem;
    margin-bottom: 7%;
    display: inline-block;
    isolation: isolate;
  }
  .img-bg img {
    width: 89%;
  }
  .img-bg {
    background: url("/images/Group89.svg") left/contain no-repeat;
    background-size: 100%;
    text-align: center;
  }
  #arrow {
    margin-bottom: 20%;
    display: block;
  }
  .ueberuns-text {
    width: 80%;
    margin: 0 auto;
  }
  .brush-img {
    margin-bottom: -5.5%;
    margin-left: -70%;
    width: 75%;
    position: absolute;
    top: 35%;
  }
  .ueberuns-text p {
    line-height: 1.3rem;
    margin-bottom: 2%;
    font-size: 1.2rem;
  }
  .partner-container {
    display: block;
    width: 76%;
    padding: 20% 0;
  }
  .partner-container p {
    margin-bottom: 12%;
    font-weight: bold;
  }
  .partner {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-gap: 18%;
    justify-content: center;
    align-items: center;
  }
  .partner img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .ueberuns-container article div:nth-of-type(2) h4 {
    font-size: 1.3rem;
  }
  .brush-img {
    margin-bottom: -6%;
    margin-left: -64%;
    width: 70%;
    top: 12%;
  }
  .ueberuns-text {
    width: 50%;
  }
  .ueberuns-text p {
    line-height: 1.2rem;
    margin-bottom: 2%;
    font-size: 1.1rem;
  }
  .vorstand-beschreibung {
    line-height: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .ueberUns h3 {
    font-size: 2.5rem;
    margin-bottom: 0%;
  }
  .brush-img {
    margin-bottom: -4%;
    margin-left: -38%;
    width: 45%;
    top: 15%;
  }
  .ueberuns-text {
    width: 42%;
    margin-left: -4%;
  }
}
