.ueberUns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0 9%;
}

.ueberuns-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.ueberuns-container article {
    width: 40%;
}

.ueberuns-container article div:nth-of-type(2) {
    line-height: 1.8rem;
    margin-top: 5%;
    margin-left: 5%;
}

.ueberuns-container article div:nth-of-type(2) h4 {
    font-size: 1.7rem;
    margin-bottom: 2%;
}

.ueberuns-container article div:nth-of-type(2) p {
    font-size: .9rem;
}

.img-bg img {
    width: 48%;
    padding: 5%;
}

.img-bg {
    background: url("/images/Group89.svg") left/contain no-repeat;
    background-size: 59%;
}

.brush-img {
    margin-bottom: -2.5%;
    margin-left: -26%;
    width: 35%;
}

.ueberUns h2 {
    font-size: 3rem;
    margin-bottom: 10%;
}

.ueberUns h3 {
    font-size: 2.5rem;
    display: inline-block;
    isolation: isolate;
    margin-bottom: 9%;
}

.ueberuns-text {
    align-self: flex-end;
    width: 42%;
    margin-left: -9%;
}

.ueberuns-text p {
    line-height: 1.8rem;
}

#arrow:hover {
    fill: gold;
}

/********** Media Queries **********/

@media only screen and (max-width: 600px) {
    .ueberUns h2 {
        margin-bottom: 15%;
    }
    .ueberuns-container {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }
    .ueberuns-container article {
        width: 100%;
    }
    .ueberuns-container article div:nth-of-type(2) h4 {
        font-size: 2rem;
        margin-bottom: 6%;
    }
    .img-bg img {
        width: 89%;
    }
    .img-bg {
        background-size: 100%;
        text-align: center;
    }
    #arrow {
        margin-bottom: 20%;
    }
    .ueberuns-text {
        width: 80%;
        margin: 0 auto;
    }
    .brush-img {
        display: inline-block;
        margin-left: -2%;
        margin-top: -5%;
        margin-bottom: 10%;
        width: 60%;
    }
    .ueberUns h3 {
        font-size: 2.5rem;
        margin-bottom: -5%;
    }
    .ueberuns-text p {
        line-height: 1.3rem;
        margin-bottom: 2%;
        font-size: 1.2rem;
    }
}