.partnerschaft-popup {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  width: 100%;
}

.partnerschaft-popup-inner {
  width: 60%;
  margin: 50px auto;
  background: rgb(0, 72, 115);
  padding: 10px;
}

.partnerschaft-popup div h2 {
  margin: 30px;
  color: #fff;
}

.partnerschaft-popup div h3 {
  margin: 30px;
  color: #fff;
}

.close2 {
  color: #fff;
  margin-top: 4rem;
  margin-left: 10px;
  display: flex;
  font-size: 1.5rem;
  background: none;
  align-items: center;
  border: none;
  cursor: pointer;
  width: 10rem;
  height: 4rem;
  padding: 1rem;
  box-sizing: border-box;
}

.close2:focus {
  outline: none;
}

.partnerschaft-popup div form div button {
  margin-left: 20px;
}
@media only screen and (max-width: 1080px) {
  .partnerschaft-popup-inner {
    width: 90%;
    margin: 0 auto;
    background: rgb(0, 72, 115);
  }
}

@media only screen and (max-width: 780px) {
  .partnerschaft-popup-inner {
    width: 90%;
    margin: 0 auto;
    background: rgb(0, 72, 115);
  }
}

@media only screen and (max-width: 480px) {
  .partnerschaft-popup {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .partnerschaft-popup-inner {
    width: 90%;
    margin: 0 auto;
    background: rgb(0, 72, 115);
  }
  .partnerschaft-popup div h2 {
    margin: 15px;
  }
  .partnerschaft-popup div h3 {
    margin: 15px;
  }
  .partnerschaft-popup div form div button {
    margin-left: 15px;
  }
}