.SpendenSection {
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(0, 72, 115);
    position: relative;
    padding: 20vh 10px;
}

.SpendenSection h1 {
    font-size: 8rem;
    color: #fff;
    margin: 50px;
}

.SpendenSection p {
    font-size: 1rem;
    color: #fff;
    margin: 30px;
}

.SpendenBtn {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 20px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 15px 20px;
    font-family: "Ubuntu", sans-serif;
    box-shadow: 3px 8px 0 0 #0079fd;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    margin: 10px;
    outline: none;
}

.Spen {
    padding: 15px 40px;
}

.SpendenBtn:hover {
    outline: none;
    color: #000;
    box-shadow: 0 0 0 #0079fd;
    background-color: #fff;
    transform: translateY(2px);
}

.SpendenBtn:active {
    outline: none;
    color: #000;
    box-shadow: 3px 8px 0px 0px #ffda00;
    background-color: #fff;
}

.triDiv {
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: -13%;
    left: 45%;
    transform: rotate(45deg);
    display: none;
    
}

@media only screen and (max-width: 1080px) {
    .SpendenSection {
        padding: 5vh 10px;
        align-items: center;
    }
}

@media only screen and (max-width: 780px) {
    .SpendenSection {
        margin-top: 10vh;
        display: grid;
        grid-template-columns: 1fr;
        background-color: rgb(0, 72, 115);
        align-items: center;
        padding: 5vh 10px;
    }
    .SpendenSection h1 {
        font-size: 7rem;
        color: #fff;
        margin: 20px;
        text-align: center;
    }
    .SpendenSection p {
        font-size: 1.3rem;
        color: #fff;
        margin: 3rem 1.5rem 2rem 1.5rem;
    }
    .SpendenBtn {
        -webkit-font-smoothing: antialiased;
        display: block;
        font-size: 20px;
        background-color: #fff;
        color: #000;
        border: 2px solid #000;
        border-radius: 30px;
        padding: 15px 40px;
        font-family: "Ubuntu", sans-serif;
        box-shadow: 3px 8px 0 0 #0079fd;
        transition: transform 0.1s ease, box-shadow 0.1s ease;
        margin: 15px auto;
        outline: none;
    }
    .Spen {
        padding: 15px 60px;
    }
}

@media only screen and (max-width: 480px) {
    .SpendenSection {
        margin-top: 10vh;
        display: grid;
        grid-template-columns: 1fr;
        background-color: rgb(0, 72, 115);
        align-items: center;
    }
    .SpendenSection h1 {
        font-size: 7rem;
        color: #fff;
        margin: 20px;
        text-align: center;
    }
    .SpendenSection p {
        font-size: 1.3rem;
        color: #fff;
        margin: 3rem 1rem 2rem 1rem;
    }
    .SpendenBtn {
        -webkit-font-smoothing: antialiased;
        display: block;
        font-size: 20px;
        background-color: #fff;
        color: #000;
        border: 2px solid #000;
        border-radius: 30px;
        padding: 15px 40px;
        font-family: "Ubuntu", sans-serif;
        box-shadow: 3px 8px 0 0 #0079fd;
        transition: transform 0.1s ease, box-shadow 0.1s ease;
        margin: 15px auto;
        outline: none;
    }
    .Spen {
        padding: 15px 60px;
    }
}