.spenden-popup {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  width: 100%;
}

.spenden-popup-inner {
  width: 60%;
  margin: 100px auto;
  background: rgb(0, 72, 115);
  padding: 40px;
}

.close2 {
  color: #fff;
  margin-top: 4rem;
  display: flex;
  font-size: 1.5rem;
  background: none;
  align-items: center;
  border: none;
  cursor: pointer;
  width: 10rem;
  height: 4rem;
  padding: 1rem;
  box-sizing: border-box;
}

.close2:focus {
  outline: none;
}

.spenden-popup-inner h1 {
  font-size: 2rem;
  margin: 15px;
  text-align: left;
}

.spenden-popup-inner p {
  font-size: 1.5rem;
  margin-left: 15px;
}
@media only screen and (max-width: 1080px) {
  .spenden-popup-inner {
    width: 90%;
    margin: 25px auto;
    background: rgb(0, 72, 115);
  } 
}

@media only screen and (max-width: 780px) {
  .spenden-popup-inner {
    width: 90%;
    margin: 25px auto;
    background: rgb(0, 72, 115);
  } 
}
@media only screen and (max-width: 480px) {
  .spenden-popup-inner {
    width: 90%;
    margin: 25px auto;
    background: rgb(0, 72, 115);
    padding: 10px;
  }
  .partnerschaft-popup div h2 {
    margin: 10px;
  }
  .partnerschaft-popup div h3 {
    margin: 10px;
  }
}