@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
}
.WirkungSection {
  display: flex;
  height: 100vh;
}

.textArticle {
  margin-top: 150px;
  width: 40%;
  margin-left: 7rem;
}

.textArticle h2 {
  color: #ffda00;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: "Ubuntu Mono", monospace;
  /* margin-left: 7rem;
  margin-bottom: 1rem; */
}

.textArticle p {
  /* width: 40%; */
  /* margin-left: 7rem; */
  line-height: 25px;
  height: 300px;
}

.WirkungSection .imgArticle {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 200px;
  margin-left: 7rem;
  overflow: hidden;
}

.WirkungSection .imgArticle img {
  margin: 0 20px;
  /* width: 70%;
  height: auto; */
  height: 100%;
  width: auto;
}

.wirkungsBtnDiv {
  margin-left: 6rem;
}

.Btn {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 10px 13px;
  margin: 10px;
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .WirkungSection {
    display: flex;
    flex-direction: column-reverse;
  }
  /* .WirkungSection .imgArticle img {
    width: 65%;
    height: auto;
    margin: 30px 20px;
  } */
  .textArticle {
    margin-top: 10px;
    width: 90%;
    margin-left: 1rem;
  }
  .textArticle h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-family: "Ubuntu Mono", monospace;
  }
  .textArticle p {
    line-height: 25px;
    height: 300px;
  }
  .WirkungSection {
    display: flex;
  }
  .WirkungSection .imgArticle {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    overflow: hidden;
  }
  .wirkungsBtnDiv {
    text-align: center;
    margin: 10px auto;
  }
  .Btn {
    padding: 7px 9px;
    margin: 10px;
    outline: none;
  }
}

@media only screen and (max-width: 620px) {
  .WirkungSection {
    display: flex;
    flex-direction: column-reverse;
  }
  .imgArticle {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .WirkungSection .imgArticle {
    min-height: 300px;
  }
  .WirkungSection .imgArticle img {
    width: auto;
    min-height: 300px;
  }
  .WirkungSection .imgArticle img:nth-of-type(2) {
    display: none;
  }
  .textArticle {
    margin-top: 10px;
    width: 90%;
    margin-left: 1rem;
  }
  .textArticle h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-family: "Ubuntu Mono", monospace;
  }
  .textArticle p {
    line-height: 25px;
    height: 300px;
  }
  .WirkungSection {
    display: flex;
  }
  .WirkungSection .imgArticle {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px auto;
    overflow: hidden;
  }
  .wirkungsBtnDiv {
    text-align: center;
    margin: 10px auto;
  }
  .Btn {
    padding: 7px 9px;
    margin: 10px;
    outline: none;
  }
}

@media only screen and (max-width: 320px) {
  .textArticle p {
    line-height: 25px;
    height: 400px;
  }
}
